<div style="width: 400px;">

  <div class="th-activity-item">
    <div class="activity-map">
      <span class="label">{{ date }}</span>
      <img [src]="image" />
    </div>
    <div class="activity-info">
      <div class="info-box">
        <div class="inner">
          <div class="subtitle">Afstand</div>
          <div class="value">{{ distance }} km</div>
        </div>
      </div>
      <div class="info-box">
        <div class="inner">
          <div class="subtitle">Tijd</div>
          <div class="value">{{ duration }}</div>
        </div>
      </div>
      <div class="info-box">
        <div class="inner">
          <div class="subtitle">Tss</div>
          <div class="value">{{ stress }} tss</div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- content: '\e800'; -->