@import '../../theme/style.scss';

.th-activity-item {

    margin-bottom: 15px;
    cursor: pointer;

    .activity-map {
        @include aspect-ratio(640, 300);
        width: 100%;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        span.label {
            color: white;
            background: rgba(88, 99, 101, 0.75);
            border-radius: 15px;
            position: absolute;
            left: 0;
            top: 0;
            margin-left: 10px;
            margin-top: 10px;
            z-index: 10;
            padding: 5px 10px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 11px;
        }

        img {
            width: 100%;
            position: absolute;
            top: 0;
            transform: translateY(-15%);
        }
    }

    .activity-info {
        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: 'Open Sans', sans-serif;

        .info-box {
            width: 33.3333%;
            display: inline-block;
            box-sizing: border-box;
            padding: 10px;
            position: relative;
            height: 45px;

            .subtitle {
                font-size: 12px;
                font-weight: 400;
                color: #606065;
                line-height: 1.2;
            }

            .value {
                color: #2d2d32;
                line-height: 1;
                font-weight: 400;
            }
        }

        .info-box:after {
            content: '';
            display: block;
            border-right: 1px solid #e6e6eb;
            height: 30px;
            width: 1px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -12px;
        }

        .info-box:last-child:after {
            display: none;
        }

        .inner {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 0;
            margin-top: 10px;
        }

    }
    // .activity-info:after {
    //     content: "";
    //     display: block;
    //     clear: both;
    // }
}